.container {
    margin-top: 5rem;
    padding-top: 3rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background: linear-gradient(45deg, #008DD9, #4A667F);
    color: white;
    border-radius: 10px 10px 0 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

    .card-header h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

.card-body {
    background-color: #F5F5F5;
    border-radius: 0 0 10px 10px;
    padding: 30px;
}

.footer-bar {
    background: linear-gradient(45deg, #008DD9, #4A667F);
    color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

/* Botón estándar (Volver) */
.btn-primary {
    background-color: #008DD9 !important;
    color: white !important;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 16px;
}

    .btn-primary:hover {
        background-color: #005F8C !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

/* Botón Generar Factura */
.btn-cris {
    background: linear-gradient(45deg, #333, #555);
    color: white !important;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

    .btn-cris:hover {
        background: linear-gradient(45deg, #555, #333);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

/* Botón Enviar WhatsApp */
.btn-whatsapp {
    background-color: #25D366 !important;
    color: white !important;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 16px;
}

    .btn-whatsapp:hover {
        background-color: #1EBE57 !important;
        box-shadow: 0 4px 8px rgba(37, 211, 102, 0.4);
    }

    .btn-whatsapp .bi {
        font-size: 20px;
        margin-right: 8px;
    }