
/* Estilos para el título del menú */
.menu-title {
    color: #FFD700; /* Cambiar el color a dorado para mayor impacto */
    font-size: 48px; /* Aumentar el tamaño de la fuente */
    font-weight: 800; /* Hacer el texto más grueso */
    margin-bottom: 60px; /* Mantener espacio inferior */
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Añadir espaciado entre letras */
    font-family: 'Poppins', sans-serif; /* Aplicar una fuente estilizada */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8), 0 0 15px rgba(255, 215, 0, 0.7); /* Añadir sombras de texto */
}

/* Estilos para el contenedor del menú */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008DD9;
    height: calc(100vh - 50px);
    width: 100vw;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: -5px;
}

/* Estilos para las filas del menú */
.menu-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px;
}

    /* Estilos para la tercera fila */
    .menu-row:last-child {
        justify-content: center; /* Centra los elementos en esta fila */
        margin-top: 20px; /* Ajusta el margen superior */
    }

/* Estilos para cada ítem del menú */
.menu-item {
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: transform 0.3s, color 0.3s, background-color 0.3s ease, box-shadow 0.3s ease;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 15px;
    background-color: #C6C6C0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .menu-item img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
        transition: transform 0.3s, filter 0.3s;
    }

    .menu-item span {
        display: block;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 5px;
        transition: color 0.3s;
    }

    .menu-item:hover {
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.3);
        color: #FFD700;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    }

        .menu-item:hover img {
            transform: rotate(15deg);
            filter: brightness(1.3);
        }

        .menu-item:hover span {
            color: #FFD700;
        }
