@page "/Menu"

<div class="menu">
    <h1 class="menu-title">Menú</h1>

    <PageTitle>Menú</PageTitle>

    @* Fila 1 *@
    <div class="menu-row">
        <a href="/Cobro/Index" class="menu-item">
            <img src="/Cobros.png" alt="Cobros" />
            <span>Cobrar Deudores</span>
        </a>
        <a href="/Deudore/Index" class="menu-item">
            <img src="/Deudor.png" alt="Deudor" />
            <span>Deudores</span>
        </a>
        <a href="/Deudor/Seleccionar" class="menu-item">
            <img src="/Historial.png" alt="Historial" />
            <span>Historial Préstamos</span>
        </a>
    </div>

    @*Fila 2 *@
    <div class="menu-row">
        <a href="/Prestamo/Index" class="menu-item">
            <img src="/Prestamos.png" alt="Préstamos" />
            <span>Gestionar Préstamos</span>
        </a>
        <a href="/Pago/Index" class="menu-item">
            <img src="/Pagos.png" alt="Pagos" />
            <span>Gestionar Pagos</span>
        </a>
        <a href="/Abono/Index" class="menu-item">
            <img src="/Abonos.png" alt="Abonos" />
            <span>Abonos</span>
        </a>
    </div>
</div>