@page "/Abono/Details"
@page "/Abono/Details/{AbonoId:int}"
@inject AbonoService abonoService
@inject FacturaService FacturaService
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject ToastService toastService


<PageTitle>Detalle del Abono</PageTitle>

<div class="container mt-5 pt-3">
    <div class="card shadow-lg border-0">
        <div class="card-header text-center py-5">
            <h2>Detalle del Abono</h2>
        </div>

        <div class="card-body">
            <div class="row">
                @* Información del Abono *@
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>ID del Abono:</strong>
                        <p class="d-block">@abono?.AbonoId</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Monto del Abono:</strong>
                        <p class="d-block">@abono?.MontoAbono</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Fecha del Abono:</strong>
                        <p class="d-block">@abono?.FechaAbono</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong>Factura Asociada:</strong>
                        <p class="d-block">@facturas?.FacturaId</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-center footer-bar">
            <button class="btn btn-lg" @onclick="Volver">
                <span class="bi bi-arrow-left-circle-fill mt-3"></span>
                Volver
            </button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int AbonoId { get; set; }
    public Abonos? abono = new Abonos();
    public Facturas? facturas { get; set; } = new Facturas();
    public List<Facturas> listafactura = new List<Facturas>();
    public List<Abonos> listaabono = new List<Abonos>();
    private bool existe = false;
    protected override async Task OnInitializedAsync()
    {
        if (AbonoId != 0)
        {
            abono = await abonoService.Buscar(AbonoId);
            if (abono?.FacturaId != null)
            {
                facturas = await FacturaService.Buscar((int)abono.FacturaId);
            }
        }
    }
    
    public async Task Volver()
    {

        toastService.Notify(new(ToastType.Primary, "Existo", "Ya volvio correctamente"));
        navigationManager.NavigateTo("/Abono/Index");
    }
}
