@page "/Pago/Delete"
@page "/Pago/Delete/{PagoId:int}"
@inject PagoService pagoService
@inject DeudorService deudorService
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject ToastService toastService

<PageTitle>Eliminar Pago</PageTitle>

<div class="container mt-5 pt-3">
    <div class="card shadow-lg border-0">
        <div class="card-header text-center py-5 header-style">
            <h2 class="header-title">
                Eliminar Pago
            </h2>
        </div>

        <div class="card-body">
            <div class="row">
                @* Información del Pago *@
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong class="info-label">ID del Pago:</strong>
                        <p class="info-text">@pago?.PagoId</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong class="info-label">Deudor:</strong>
                        <p class="info-text">@pago?.deudores?.Nombres @pago?.deudores?.Apellidos</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong class="info-label">Capital:</strong>
                        <p class="info-text">@pago?.Capital</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong class="info-label">Pago Pendiente:</strong>
                        <p class="info-text">@pago?.PagoPendiente</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="info-block">
                        <strong class="info-label">Fecha del Pago:</strong>
                        <p class="info-text">@pago?.FechaPago</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-center footer-bar">
            <button class="btn btn-lg delete-btn" @onclick="EliminarPago">
                <i class="bi bi-trash-fill mt-3"></i> Eliminar Pago
            </button>
            <button class="btn btn-lg back-btn" @onclick="Volver">
                <i class="bi bi-arrow-left-circle-fill mt-3"></i> Volver
            </button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int PagoId { get; set; }
    public Pagos? pago { get; set; } = new Pagos();
    public List<Pagos> Listapago { get; set; } = new List<Pagos>();
    public List<Deudores> listadeudore { get; set; } = new List<Deudores>();
    public Deudores? deudore { get; set; } = new Deudores();
    private bool existe = false;
    protected override async Task OnInitializedAsync()
    {
        if (PagoId != 0)
        {
            pago = await pagoService.Buscar(PagoId);
            listadeudore = await deudorService.ListarDeudores();
        }
    }
    public async Task EliminarPago(){
        if(PagoId==0||pago==null){
            return;
        }
        if(await pagoService.Eliminar(PagoId)){
            Volver();
        }
    }
    public async Task Volver()
    {

        toastService.Notify(new(ToastType.Primary, "Existo", "Ya volvio correctamente"));
        navigationManager.NavigateTo("/Pago/Index");
    }
}

