@inherits LayoutComponentBase
<link href="css/CobroCreate.css" rel="stylesheet" />

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<div class="page">

    <div class="card">
        @* Barra superior dentro del card, con menú flotante integrado *@
        <div class="top-row px-7">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank"></a>
            <div class="menu-floating custom-align">
                <a href="#soporte" class="menu-floating-item soporte">
                    <i class="fas fa-life-ring"></i> Soporte
                </a>
                <a href="#contacto" class="menu-floating-item contacto">
                    <i class="fas fa-envelope"></i> Contacto
                </a>
            </div>
        </div>

        <div class="content" style="margin-top: 0rem; margin-bottom: 1rem;">
            @Body
        </div>
    </div>
    @* Nuevo card idéntico en la parte inferior *@
    <div class="card mt-5">
        <div class="top-row px-4">
            <footer>
                <p>© 2024 Prestamos SRL</p>
            </footer>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank"></a>
        </div>
    </div>
</div>