/* Cambiar el color de la barra superior (top-row) */
.top-row {
    background-color: #4A667F; /* Color personalizado */
    border-top: 1px solid #4A667F; /* Borde superior con color personalizado */
    border-bottom: 1px solid #4A667F; /* Borde inferior con el mismo color y tamaño */
    justify-content: space-between; /* Distribuir los elementos (About a la izquierda y Menú a la derecha) */
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

    /* Enlace dentro de la top-row */
    .top-row a {
        color: #fff; /* Color blanco en el enlace */
        text-decoration: none;
        margin-right: 1.5rem; /* Espaciado entre los enlaces */
    }

        .top-row a:hover {
            text-decoration: underline; /* Subrayado al pasar el cursor */
        }

/* Menú flotante (Soporte y Contacto) */
.menu-floating {
    display: flex;
    gap: 0.5rem; /* Reducido para acercar Soporte y Contacto */
    align-items: center; /* Alineación vertical de los elementos */
}

.menu-floating-item {
    background-color: #4A667F; /* Fondo del menú flotante */
    color: #fff; /* Color blanco en los íconos */
    padding: 0.75rem 1rem; /* Relleno ajustado */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px; /* Borde cuadrado con bordes redondeados */
}

    .menu-floating-item:hover {
        background-color: #3b566f; /* Color al pasar el ratón */
    }
