@page "/Sucursal/Delete/{SucursalId:int}"
@inject SucursalService sucursalService
@inject DeudorService deudorService
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@inject ToastService toastService

<PageTitle>Eliminar Sucursal</PageTitle>
<div class="container mt-5 pt-3">
    <div class="card shadow-lg border-0">
        <div class="card-header text-center py-5">
            <h2>Eliminar Sucursal</h2>
        </div>
        <Toasts class="p-3" Messages="Mensaje" AutoHide="true" StackLength="3" Placement="ToastsPlacement.TopRight" />
        <div class="card-body">
            <div class="row">
                @* Foto Sucursal *@
                <div class="col-md-4 text-center mb-4">
                    <strong class="d-block mb-2">Foto Sucursal:</strong>
                    @if (!string.IsNullOrEmpty(sucursal?.FotoSucursalUrl))
                    {
                        <img src="@sucursal.FotoSucursalUrl" alt="Foto de la sucursal" class="img-thumbnail shadow-sm">
                    }
                </div>

                <div class="col-md-8">
                    <div class="row">
                        @*   Numero de cedula *@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Sucursal Id:</strong>
                                <p class="d-block">@sucursal?.SucursalId</p>
                            </div>
                        </div>
                        @* Nombre Completo *@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Nombre Completo:</strong>
                                <p class="d-block">@sucursal?.deudores?.Nombres @sucursal?.deudores?.Apellidos</p>
                            </div>
                        </div>
                        @* Nombre Sucursal *@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Nombre Sucursal:</strong>
                                <p class="d-block">@sucursal?.NombreSucursal</p>
                            </div>
                        </div>

                        @*Direccion*@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Direcci&oacute;n:</strong>
                                <p class="d-block">@sucursal?.Direccion</p>
                            </div>
                        </div>

                        @*Telefono*@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Telefono:</strong>
                                <p class="d-block">@sucursal?.Telefono</p>
                            </div>
                        </div>

                        @* Estado *@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Estado:</strong>
                                <p class="d-block">@sucursal?.Estado</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @*Fecha Emision*@
                        <div class="col-md-6 mb-4">
                            <div class="info-block">
                                <strong>Fecha Emision:</strong>
                                <p class="d-block">@sucursal?.FechaEmision?.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-center footer-bar">
            <button class="btn btn-lg" @onclick="Volver">
                <i class="bi bi-arrow-left-circle-fill mt-3"></i> Volver
            </button>
            <button class="btn btn-lg delete-btn" @onclick="EliminarSucursal">
                <i class="bi bi-trash-fill mt-3"></i> Eliminar
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int SucursalId { get; set; }
    public Sucursales? sucursal = new Sucursales();
    public List<Deudores> listadeudore = new List<Deudores>();
    private bool existe = false;
    private bool Estado = false;
    List<ToastMessage> Mensaje = new List<ToastMessage>();

    protected override async Task OnInitializedAsync()
    {
        if (SucursalId > 0)
        {
            sucursal = await sucursalService.Buscar(SucursalId);
        }
    }
    public async Task EliminarSucursal()
    {
        if (sucursal == null)
        {
            toastService.Notify(new ToastMessage(
             ToastType.Danger,
              iconName: IconName.None,
             title: "Error",
             message: "La sucursal no fue encontrado."));
            await Task.Delay(3000);
            return;
        }
        if (await sucursalService.Eliminar(SucursalId))
        {
            toastService.Notify(new ToastMessage(
                ToastType.Danger,
                iconName: IconName.None,
                title: "EliminarSucursal",
                helpText: "",
                message: "La Sucursal ya elimino correctamente."));
            await Task.Delay(3000);
            Volver();
        }
    }

    public async Task Volver()
    {
        toastService.Notify(new ToastMessage(
               ToastType.Primary,
               iconName: IconName.None,
               title: "Volver",
               helpText: "",
               message: "La sucursal ya volvio correctamente."));
        await Task.Delay(3000);
        navigationManager.NavigateTo("/sucursal/Index");
    }
    private void ShowToast(ToastType type)
    {
        string title = type switch
        {
            ToastType.Success => "¡Éxito!",
            ToastType.Primary => "Advertencia",
            ToastType.Danger => "Error",
            _ => "Información"
        };

        string message = type switch
        {
            ToastType.Success => "La sucursal se ha guardado correctamente.",
            ToastType.Primary => "La sucursal ya volvio correctamente.",
            ToastType.Danger => "Hubo un error al guardar la sucursal.",
            _ => "Información general."
        };

        Mensaje.Add(new ToastMessage { Type = type, Title = title, Message = message });
        StateHasChanged();
    }
}